body {
  text-align: center;
  background-color: #fca311;
}

.heading {
  color:#14213d;
}

.number {
  font-size: 100px;
  color: #000000;
  margin-bottom: 10px;
}
.manual {
  border-style: solid;
  border-width: medium;
  width: 40%;
  margin: auto;
  background-color: #e5e5e5;
  margin-top:20px;

}

.btn {
  font-size: 70px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 15px;
  border-color: #ffffff;
  border-width: 0;
}

.btn:hover {
  cursor: grab;
  background-color: #e5e5e5;
  border-width: 15px;
}

.minus {
  color: #fca311;
  margin-left: 10px;
}

.plus {
  color: #14213D;
  margin-right: 10px;
}

.res {
  color: #e5e5e5;
  font-size: 40px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #14213d;
}
